<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>avator</title>
    <link rel="stylesheet" href="/components/images/image.css" />
    <link rel="stylesheet" href="/common.css" />
    <link rel="stylesheet" href="/navbar.css" />
    <link rel="stylesheet" href="/documentation.css" />
    <link rel="stylesheet" href="/main.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    />
  </head>
  <body>
    <div class="container">
      <nav class="nav">
        <div class="nav-left">
          <a href="/index.html"
            ><img
              class="nav-logo"
              src="/images/alpha (1).png"
              alt="ALPHA"
            />UI</a
          >
        </div>
        <ul class="nav-right" id="nav-list">
          <li class="nav-right-item">
            <a href="/documentation.html">Docs</a>
          </li>
          <li class="nav-right-item"><a href="#">Examples</a></li>
          <li class="nav-right-item"><a href="#">Github</a></li>
        </ul>
        <div class="menu" id="toggle-button">
          <div class="menu-line"></div>
          <div class="menu-line"></div>
          <div class="menu-line"></div>
        </div>
      </nav>

      <div class="container-flex">
        <div class="components-container">
          <p class="comp-header">Components</p>
          <div role="group" class="comp-box">
            <ul class="comp-list">
              <li class="comp-list-item">
                <a
                  href="/components/avatar/avatar.html"
                  class="comp-list-item-avator"
                  ><span>Avatar</span></a
                >
              </li>

              <li class="comp-list-item">
                <a
                  href="/components/alerts/alert.html"
                  class="comp-list-item-alert"
                  ><span>Alert</span></a
                >
              </li>

              <li class="comp-list-item">
                <a
                  href="/components/badge/badge.html"
                  class="comp-list-item-badge"
                  ><span>Badge</span></a
                >
              </li>

              <li class="comp-list-item">
                <a
                  href="/components/button/button.html"
                  class="comp-list-item-button"
                  ><span>Button</span></a
                >
              </li>

              <li class="comp-list-item">
                <a
                  href="/components/cards/cards.html"
                  class="comp-list-item-card"
                  ><span>Card</span></a
                >
              </li>

              <li class="comp-list-item">
                <a
                  href="/components/images/image.html"
                  class="comp-list-item-image"
                  ><span>Image</span></a
                >
              </li>

              <li class="comp-list-item">
                <a
                  href="/components/input/input.html"
                  class="comp-list-item-input"
                  ><span>Input</span></a
                >
              </li>
              <li class="comp-list-item">
                <a
                  href="/components/textUtilities/text.html"
                  class="comp-list-item-textUtilities"
                  ><span>Text Utilites</span></a
                >
              </li>
              <li class="comp-list-item">
                <a
                  href="/components/model/model.html"
                  class="comp-list-item-model"
                  ><span>Model</span></a
                >
              </li>
              <li class="comp-list-item">
                <a
                  href="/components/ratings/rating.html"
                  class="comp-list-item-rating"
                  ><span>Rating</span></a
                >
              </li>
              <li class="comp-list-item">
                <a href="#" class="comp-list-item-navigation"
                  ><span>Navigation</span></a
                >
              </li>
              <li class="comp-list-item">
                <a href="#" class="comp-list-item-lists"><span>Lists</span></a>
              </li>
              <li class="comp-list-item">
                <a href="#" class="comp-list-item-toast"
                  ><span>Toast/Notify/Snackbar</span></a
                >
              </li>
              <li class="comp-list-item">
                <a href="#" class="comp-list-item-grid"
                  ><span>Simplified Grid </span></a
                >
              </li>
            </ul>
          </div>
        </div>

        <!---Images-->
        <section class="image-container">
          <div class="image-title">Images</div>
          <hr />
          <div class="image-title">Circular Images</div>
          <div class="circular-images-container">
            <img class="cir-img" src="/images/res-img-1.jpg" alt="alpha-img" />
            <img class="cir-img" src="/images/res-img-2.jpg" alt="jacket" />
            <img class="cir-img" src="/images/res-img-3.jpg" alt="cloths" />
          </div>
          <!--Iframe-->
          <iframe
            src="https://carbon.now.sh/embed?bg=rgba%28250%2C252%2C255%2C1%29&t=seti&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=6px&ph=9px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%2520%2520%2520%253Cimg%2520class%253D%2522cir-img%2522%2520src%253D%2522%252Fimages%252Fres-img-1.jpg%2522%2520alt%253D%2522alpha-img%2522%2520%252F%253E%250A%2520%2520%2520%253Cimg%2520class%253D%2522cir-img%2522%2520src%253D%2522%252Fimages%252Fres-img-2.jpg%2522%2520alt%253D%2522jacket%2522%2520%252F%253E%250A%2520%2520%2520%253Cimg%2520class%253D%2522cir-img%2522%2520src%253D%2522%252Fimages%252Fres-img-3.jpg%2522%2520alt%253D%2522cloths%2522%2520%252F%253E"
            style="
              display: flex;
              margin: 2rem;
              width: 646px;
              height: 142px;
              border: 0;
              transform: scale(1);
              overflow: hidden;
            "
            sandbox="allow-scripts allow-same-origin"
          >
          </iframe>

          <!--squared images-->
          <div class="image-title">Square Images</div>
          <div class="sqr-images-container">
            <img class="sqr-img" src="/images/res-img-1.jpg" alt="alpha-img" />
            <img class="sqr-img" src="/images/res-img-2.jpg" alt="jacket" />
            <img class="sqr-img" src="/images/res-img-3.jpg" alt="cloths" />
          </div>

          <iframe
            src="https://carbon.now.sh/embed?bg=rgba%28250%2C252%2C255%2C1%29&t=seti&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=6px&ph=9px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%2520%253Cimg%2520class%253D%2522sqr-img%2522%2520src%253D%2522%252Fimages%252Fres-img-1.jpg%2522%2520alt%253D%2522alpha-img%2522%2520%252F%253E%250A%2520%253Cimg%2520class%253D%2522sqr-img%2522%2520src%253D%2522%252Fimages%252Fres-img-2.jpg%2522%2520alt%253D%2522jacket%2522%2520%252F%253E%250A%2520%253Cimg%2520class%253D%2522sqr-img%2522%2520src%253D%2522%252Fimages%252Fres-img-3.jpg%2522%2520alt%253D%2522cloths%2522%2520%252F%253E"
            style="
              display: flex;
              margin: 2rem;
              width: 630px;
              height: 142px;
              border: 0;
              transform: scale(1);
              overflow: hidden;
            "
            sandbox="allow-scripts allow-same-origin"
          >
          </iframe>

          <!--squared images-->
          <div class="image-title">Square Images</div>
          <div class="responsive-images-container">
            <img class="res-img" src="/images/res-img-1.jpg" alt="alpha-img" />
          </div>

          <iframe
            src="https://carbon.now.sh/embed?bg=rgba%28250%2C252%2C255%2C1%29&t=seti&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=6px&ph=9px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cimg%2520class%253D%2522res-img%2522%2520src%253D%2522%252Fimages%252Fres-img-1.jpg%2522%2520alt%253D%2522alpha-img%2522%2520%252F%253E"
            style="
              display: flex;
              margin: 2rem;
              width: 621px;
              height: 105px;
              border: 0;
              transform: scale(1);
              overflow: hidden;
            "
            sandbox="allow-scripts allow-same-origin"
          >
          </iframe>
        </section>
      </div>
    </div>
  </body>
</html>
