@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-flex {
  display: flex;
}

body {
  width: 100%;
  min-height: 100vh;
  height: max-content;
  font-family: "Nunito Sans", sans-serif;
}

:root {
  font-size: 62.5%;
  --primary-color: #9ad4d6;
  --default-color: #172b4d;
  --secondary-color: #f3f4f6;
  --danger-color: #f44336;
  --success-color: #4caf50;
  --warning-color: #ff9800;

  --primary-hover: #4f46e5;
  --secondary-hover: #e5e7eb;
  --danger-hover: #d31609;
  --success-hover: #0d8611;
  --active-hover: #058ce0;

  --off-white: #f6f9fc;
  --active-color: #1ea7fd;
  --black: #000;
  --pink: rgb(123, 24, 153);
  --blue: rgb(15, 13, 128);
  --card-overlay: rgba(62, 67, 75, 0.5);
  --grey: gray;
}

html {
  scroll-behavior: smooth;
}

.container {
  width: 100%;
  min-height: 100vh;
  height: max-content;
  margin: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}
