@import "common.css";

.components-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.comp-header {
  font-size: 1rem;
  font-weight: 700;
}
.comp-list-item {
  display: flex;
  padding: 0.5rem;
  font-size: 0.8rem;
}

.comp-list-item:hover {
  color: var(--primary-color);
}
