@import "/common.css";

.rating-container {
  margin-top: 7rem;
}

.rating-title {
  font-size: 2rem;
  font-weight: 600;
}

.rating-content {
  margin: 1rem;
  font-size: 2rem;
}

.rating {
  border-radius: 10rem;
  padding: 2rem;
  border: 1px solid var(--black);
  font-size: 3rem;
  margin: 2rem;
}

.checked {
  color: var(--yellow);
}
