@import "/common.css";

.badge-container {
  margin-top: 5rem;
}

.badge-title {
  font-size: 3rem;
  font-weight: 700;
}

.badge-title-v2 {
  margin-top: 2rem;
  font-size: 2.6rem;
  font-weight: 300;
}

.badge-content {
  font-size: 2rem;
  padding: 1rem;
}

.icon-badge-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: 4rem;
  gap: 4rem;
  border: 2px solid var(--black);
  height: 8rem;
  position: relative;
  margin-top: 3rem;
  width: 90%;
}

.icon-badge {
  position: relative;
  right: 0px;
}

.icon-badge-count {
  display: inline-flex;
  align-items: center;
  position: absolute;
  font-size: 2.5rem;
  top: -8px;
  right: -5px;
  text-align: center;
  aspect-ratio: 1;
}

.bg-primary {
  background-color: var(--primary-color);
  border-radius: 50%;
  height: 25px;
  width: 25px;
  display: inline-flex;
  justify-content: center;
}

.bg-red {
  background-color: var(--danger-color);
  border-radius: 50%;
  height: 25px;
  width: 25px;
  display: inline-flex;
  justify-content: center;
}

.bg-green {
  background-color: var(--success-color);
  border-radius: 50%;
  height: 25px;
  width: 25px;
  display: inline-flex;
  justify-content: center;
}

.bg-blue {
  background-color: var(--blue);
  border-radius: 50%;
  height: 25px;
  width: 25px;
  display: inline-flex;
  justify-content: center;
}

.bg-pink {
  background-color: var(--pink);
  border-radius: 50%;
  height: 25px;
  width: 25px;
  display: inline-flex;
  justify-content: center;
}

.avatar-badge {
  margin-top: 1.5rem;
}

.badge-img {
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  max-height: fit-content;
}

.badge {
  display: inline-flex;
  position: relative;
  width: 3rem;
  margin: 1.6rem;
}

.badge-status {
  position: absolute;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  left: 3rem;
  top: 3rem;
}

.badge-online {
  background-color: var(--success-color);
}

.badge-inactive {
  background-color: var(--danger-color);
}

.badge-offline {
  background-color: var(--secondary-color);
}
