<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>avator</title>
    <link rel="stylesheet" href="badge.css" />
    <link rel="stylesheet" href="/navbar.css" />
    <link rel="stylesheet" href="/documentation.css" />
    <link rel="stylesheet" href="/main.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    />
  </head>
  <body>
    <div class="container">
      <nav class="nav">
        <div class="nav-left">
          <a href="/index.html"
            ><img
              class="nav-logo"
              src="/images/alpha (1).png"
              alt="ALPHA"
            />UI</a
          >
        </div>
        <ul class="nav-right" id="nav-list">
          <li class="nav-right-item">
            <a href="/documentation.html">Docs</a>
          </li>
          <li class="nav-right-item"><a href="#">Examples</a></li>
          <li class="nav-right-item"><a href="#">Github</a></li>
        </ul>
        <div class="menu" id="toggle-button">
          <div class="menu-line"></div>
          <div class="menu-line"></div>
          <div class="menu-line"></div>
        </div>
      </nav>
      <div class="container-flex">
        <div class="components-container">
          <p class="comp-header">Components</p>
          <div role="group" class="comp-box">
            <ul class="comp-list">
              <li class="comp-list-item">
                <a
                  href="/components/avatar/avatar.html"
                  class="comp-list-item-avator"
                  ><span>Avator</span></a
                >
              </li>

              <li class="comp-list-item">
                <a href="#" class="comp-list-item-alert"><span>Alert</span></a>
              </li>

              <li class="comp-list-item">
                <a
                  href="/components/badge/badge.html"
                  class="comp-list-item-badge"
                  ><span>Badge</span></a
                >
              </li>

              <li class="comp-list-item">
                <a
                  href="/components/button/button.html"
                  class="comp-list-item-button"
                  ><span>Button</span></a
                >
              </li>

              <li class="comp-list-item">
                <a href="#" class="comp-list-item-card"><span>Card</span></a>
              </li>

              <li class="comp-list-item">
                <a href="#" class="comp-list-item-image"><span>Image</span></a>
              </li>

              <li class="comp-list-item">
                <a href="#" class="comp-list-item-input"><span>Input</span></a>
              </li>
              <li class="comp-list-item">
                <a href="#" class="comp-list-item-textUtilities"
                  ><span>Text Utilites</span></a
                >
              </li>
              <li class="comp-list-item">
                <a href="#" class="comp-list-item-navigation"
                  ><span>Navigation</span></a
                >
              </li>
              <li class="comp-list-item">
                <a href="#" class="comp-list-item-lists"><span>Lists</span></a>
              </li>
              <li class="comp-list-item">
                <a href="#" class="comp-list-item-model"><span>Model</span></a>
              </li>
              <li class="comp-list-item">
                <a href="#" class="comp-list-item-rating"
                  ><span>Rating</span></a
                >
              </li>
              <li class="comp-list-item">
                <a href="#" class="comp-list-item-toast"
                  ><span>Toast/Notify/Snackbar</span></a
                >
              </li>
              <li class="comp-list-item">
                <a href="#" class="comp-list-item-grid"
                  ><span>Simplified Grid </span></a
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="badge-container">
          <div class="badge-title">Badge</div>
          <div class="badge-content">
            Badges are being used to display a notification count or status
            information.
          </div>
          <div class="badge-title-v2">Badge on Icons</div>
          <section class="badge on-icon">
            <i class="fas fa-shopping-cart"></i>
            <i class="fas fa-user"></i>
            <i class="far fa-heart"></i>
            <i class="far fa-envelope"></i>
            <i class="fas fa-paper-plane"></i>
          </section>
        </div>
      </div>
    </div>
  </body>
</html>
