.alert-title {
  font-size: 3rem;
}

.alert-content {
  font-size: 1.5rem;
  padding: 1rem;
}
.example-div {
  padding: 1rem;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  width: 45rem;
}
.alert .primary {
  background-color: rgb(0, 109, 128);
  border: 0.4rem solid black;
}

.alert .error {
  background-color: red;
  border: 0.4rem solid black;
}

.alert .success {
  background-color: green;
  border: 0.4rem solid black;
}

.alert .warning {
  background-color: yellow;
  border: 0.4rem solid black;
}
