<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>avator</title>
    <link rel="stylesheet" href="/components/alerts/alert.css" />
    <link rel="stylesheet" href="/common.css" />
    <link rel="stylesheet" href="/navbar.css" />
    <link rel="stylesheet" href="/documentation.css" />
    <link rel="stylesheet" href="/main.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    />
  </head>
  <body>
    <div class="container">
      <nav class="nav">
        <div class="nav-left">
          <a href="/index.html"
            ><img
              class="nav-logo"
              src="/images/alpha (1).png"
              alt="ALPHA"
            />UI</a
          >
        </div>
        <ul class="nav-right" id="nav-list">
          <li class="nav-right-item">
            <a href="/documentation.html">Docs</a>
          </li>
          <li class="nav-right-item"><a href="#">Examples</a></li>
          <li class="nav-right-item"><a href="#">Github</a></li>
        </ul>
        <div class="menu" id="toggle-button">
          <div class="menu-line"></div>
          <div class="menu-line"></div>
          <div class="menu-line"></div>
        </div>
      </nav>
      <div class="container-flex">
        <div class="components-container">
          <p class="comp-header">Components</p>
          <div role="group" class="comp-box">
            <ul class="comp-list">
              <li class="comp-list-item">
                <a
                  href="/components/avatar/avatar.html"
                  class="comp-list-item-avator"
                  ><span>Avatar</span></a
                >
              </li>

              <li class="comp-list-item">
                <a
                  href="/components/alerts/alert.html"
                  class="comp-list-item-alert"
                  ><span>Alert</span></a
                >
              </li>

              <li class="comp-list-item">
                <a
                  href="/components/badge/badge.html"
                  class="comp-list-item-badge"
                  ><span>Badge</span></a
                >
              </li>

              <li class="comp-list-item">
                <a
                  href="/components/button/button.html"
                  class="comp-list-item-button"
                  ><span>Button</span></a
                >
              </li>

              <li class="comp-list-item">
                <a href="/components/cards/cards.html" class="comp-list-item-card"><span>Card</span></a>
              </li>

              <li class="comp-list-item">
                <a href="/components/images/image.html" class="comp-list-item-image"><span>Image</span></a>
              </li>

              <li class="comp-list-item">
                <a href="/components/input/input.html" class="comp-list-item-input"><span>Input</span></a>
              </li>
              <li class="comp-list-item">
                <a href="/components/textUtilities/text.html" class="comp-list-item-textUtilities"
                  ><span>Text Utilites</span></a
                >
              </li>
              <li class="comp-list-item">
                <a href="#" class="comp-list-item-navigation"
                  ><span>Navigation</span></a
                >
              </li>
              <li class="comp-list-item">
                <a href="#" class="comp-list-item-lists"><span>Lists</span></a>
              </li>
              <li class="comp-list-item">
                <a href="#" class="comp-list-item-model"><span>Model</span></a>
              </li>
              <li class="comp-list-item">
                <a href="/components/ratings/rating.html" class="comp-list-item-rating"
                  ><span>Rating</span></a
                >
              </li>
              <li class="comp-list-item">
                <a href="#" class="comp-list-item-toast"
                  ><span>Toast/Notify/Snackbar</span></a
                >
              </li>
              <li class="comp-list-item">
                <a href="#" class="comp-list-item-grid"
                  ><span>Simplified Grid </span></a
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="alert-container">
          <div class="alert-title">Alert</div>
          <p class="alert-content">
            Alerts are used to communicate a state that affects a system,
            feature or page.
          </p>
          <section class="simple-alert">
            <div class="simple-alert-header">Simple Alert</div>
            <p class="alert-content">
              Provide contextual feedback messages for typical user actions with
              the handful of available and flexible alert messages.
            </p>
            <div class="example-div alert-box">
              <div class="alert alert-primary">
                <strong>Primary!</strong> This is a Primary Alert - Check it
                now!
              </div>

              <div class="alert alert-error">
                <strong>Error!</strong> This is an Error Alert - Check it now!
              </div>

              <div class="alert alert-success">
                <strong>Success!</strong> This is a Success Alert - Check it
                now!
              </div>

              <div class="alert alert-warning">
                <strong>Warning!</strong> This is a Warning Alert - Check it
                now!
              </div>
            </div>
          </section>
          <section class="link-alert">
            <div class="simple-alert-header">Link Alert</div>
            <div class="example-div alert-box">
              <div class="alert alert-primary">
                <strong>Primary!</strong> This is a <a href="#" class="alert-link">Primary Alert</a> - Check it
                now!
              </div>
          </section>
        </div>
      </div>
    </div>
  </body>
</html>
